<!DOCTYPE html>
{% load static %}
<html>
    <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{% static "blog/css/styles.css" %}">
    {% block css_additional %} {% endblock %}
</head>
<body>

{% include 'blog/includes/header.html' %}

<div class="row">
  {% block content %}

  {% endblock %}
  {% include 'blog/includes/right_column.html' %}
</div>

{% include 'blog/includes/footer.html' %}

</body>
</html>